<form method="POST" action="/posts">
  <h1>New Blog Post</h1>
  <p><label>Title: </label><input type="text" name="name"></p>
  <p><label>Content: <label><input type="text" name="content"></p>
  <input type="submit" id="submit">
</form>

